*{
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
form{
    background-color: coral;
    margin: 0px auto;
    padding: 40px;
    border: 3px solid #000000;
    width: 550px;
    text-align: center;
    color: #000000;
    font-size: 30px;
}
input[type="text"] {
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    box-sizing: border-box;
    border: 3px solid #000000;
    font-size: 30px;
}
input[type="submit"] {
    width: 500px;
    font-size: 25px;
    padding: 25px;
    background-color: #4CAF50;
    border: 3px solid black;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

label{
    background-color: coral;
}
h2{
    font-size: 20px;
    background-color: coral;
    margin-bottom: 0;
}
p[id="Ganancia"]{
    font-size: 20px;
    background-color: coral;
    margin-top: 0;
}
form[id="formulariodelbanco"]{
    height: 250px;
}
form[id="formulariodelbanco2"]{
    height: 600px;
}